*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    
}
h1,h2,h3,h4{
    color: #1098ad;
}
h1{
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: blue;
    font-style: italic;
}
h2{
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
    background-color: #1310ad;
} 
h2::after{
    content: "TOP";
    background-color: #ffe70e;
    color: #444;
    font-size:16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

h3{
    font-size: 30px;
    font-family: sans-serif;
}
h4{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}
li{
    font-size: 20px;
    font-family: sans-serif;
}
.web-heading{
    margin-bottom:20px;
}
p{
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}
.container{
    border-top: 8px solid #1098ad;

    width: 800px;
    margin: 0 auto;
}
ol, ul{
    margin-left: 50px;
    margin-bottom: 20px;
}
.post-img{
    /* width: 800px; */
    height: auto;
    width: 100%;
}
.bullat{
    list-style: none;
}
.main-header{
    background-color: #f7f7f7;
    padding: 20px 40px;
    height: 80px;
}
.related-author{
    font-size: 18px;
    font-weight: bold;
}
aside{
    background-color: #f7f7f7;
    border-top:5px solid #1098ad;
    border-bottom:5px solid #1098ad;
}
li:last-child{  /* last-child nth-child(number || even || odd)*/ 
    color: red;
}
a:link{
    color: #1310ad;
    text-decoration: none;
}
a:visited{
    color: rgb(39, 28, 197);
}
a:hover{
    color: red;
    font-weight: bolder;
     text-decoration: underline black;
}
a:active{
    background-color: blue;
    font-style: italic;
}
.like-btn{
    padding: 10px;
    position: absolute;
    bottom: 60px;
    right: 60px;
}